name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Build binary
      run: cargo build --release --verbose
    - name: Upload binary
      uses: actions/upload-artifact@v6
      with:
        name: cronwrap-alert
        path: target/release/cronwrap-alert
        if-no-files-found: error
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Run tests
      run: cargo test --verbose
